* {
    margin: 0;
    padding: 0;
}
/* Operaciones */
$ancho: 50px;
$imagen: 160px;
@mixin colorycentrado {
    background-color: black;
    text-align: center;
    justify-content: center;
}
body {
    background-color: #f8d7c8;
    background-attachment: fixed;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
html {
    /* estilos */
    background-color: #fde5f1;
    background-image: url(https://thumbs.dreamstime.com/b/modelo-inconsútil-del-bebé-de-chevron-con-zig-zag-rosado-137770197.jpg);
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}
h1 {
    color:#81004b;
    font-size: $ancho;
    width: 100%;
    font-family: 'Kaushan Script', 'cursive';
}
.h2 {
    color:#81004b;
    font-size: $ancho;
    width: 100%;
    font-family: 'Kaushan Script', 'cursive';
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
}
.menu {
    list-style: none;
    padding: 0;
    background: #000000;
    width: 100%;
    max-width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu li a {
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    display: block; 
}
.menu li {
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background: #81004b;
}
.colorPrincipal {
        /*estilos */
    color:#ffffff;
    font-size: $ancho;
    background-color: #000000;
    width: 30%;
    font-family: 'Kaushan Script', 'cursive';
    border: 5px solid #81004b;
}
div ol li {
    /*estilos */
    color:#81004b;
 }
.img1 {
    /*estilos */
    border-radius: 70px;
    margin: 20px;
    transform: translate(10px, 20px);
    transform: scale(1);
}
.img1:hover {
    transform: scale(1.12);
    transition: 1s;
    cursor: pointer;
}
.centrarTitulo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.centrarTitulo a {
    list-style-type: none;
    text-decoration: none;
    color:#81004b;    
}
ul ol {
    list-style: none;
}
.nav li a {
    background-color: #000;
    color: #fff;
    display: block;
    
}
.nav li a:hover {
    background: #81004b;
} 
.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}
.menu nav {
    float: right;
    position: fixed;
    right: 100px;
}
.padre-flex {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 5px;
}
h2, h3 {
    @include colorycentrado;
    color: white;
    width: 100%;
    border: 5px solid #81004b;
}
.cuadro-2 {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 5px;
}
.caja {
    @include colorycentrado;
    margin: 5px;
    height:100px;
    width:100px;
    word-wrap: break-word;
}
.container-grid {
    display: grid;
    grid-template-columns: repeat(2);
    width: 100%;
}
@media (min-width:993px) and (max-width:1200)  {
    #grilla {
    display:grid;
    grid-template-areas:
        "menu cabeza cabeza"
        "menu seccion1 pepe"
        "menu seccion2 pepe"
        "menu pie pie";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: #f8d7c8;
}
body {
    width: 1200px;
}
header {
    width: 1200px;
}
footer { 
    width: 1200px;
}
html {
    width: 1200px;
}
}
@media (max-width: 767px) {
    body {
        background-color: #f8d7c8;
    }
    #grilla {
    display:grid;
    grid-template-areas:
        "menu cabeza cabeza"
        "menu seccion1 pepe"
        "menu seccion2 pepe"
        "menu pie pie";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
body {
    width: 767px;
}
header {
    width: 767px;
}
footer { 
    width: 767px;
}
html {
    width: 767px;
}
}
@media (min-width: 577px) and (max-width: 992px) {
    body {
        background-color: #f8d7c8;
    }
    #grilla {
    display:grid;
    grid-template-areas:
        "menu cabeza cabeza"
        "menu seccion1 pepe"
        "menu seccion2 pepe"
        "menu pie pie";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
body {
    width: 992px;
}
header {
    width: 992px;
}
footer { 
    width: 992px;
}
html {
    width: 992px;
}
}
@media (max-width: 600px) {
body {
    background-color: #f8d7c8;
}
.colorPrincipal {
    border: 15px solid #81004b;
    width: 500px;
}
body {
    width: 600px;
}
header {
    width: 600px;
}
footer { 
    width: 600px;
}
html {
    width: 600px;
}
.imagenHeader img {
    width: 370px;
    border-radius: 10px;
}
.descripcionHeader p {
    text-align: center;
}
.descripcionHeader {
    padding-left: 1px;
    padding-right: 1px;

}
}
.centrarBloque {
    text-align: center;
    justify-content: center
}
.transic {
    transition: height 2s, width 2s;
}
.transic:hover {
    height: 5%;
    width: 10%;
}
.anima {
    animation-name: efectazo;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.15,.98,.9,.05);
    animation-duration: 2s;
    animation-delay: 0s;
}
@keyframes efectazo {
    0% {
    background-color:#000;
    }
    50% {
        transform: traslateX(300px);
        background-color: #81004b;
    }
    100% {
        transform: traslateX(500px);
        background-color: #81004b;
    }
}
.cuadroPrincipal {
    /*estilos */
    padding: 10px;
    border: 1;
    color:#ffffff;
    background-color:#000000;
    border-color: white;
    border-style: solid;
}
.fondo {
    background-color: #ffffff;
}
table {
  border: 3px solid;
  font-size: 15px;
 }
 .table {
    border: 1;
    width: 600px;
	height: 200px;
	padding: 15px;
    margin: 15px; 
    color:#ffffff;
    background-color: #000000;
    border-color: #81004b;
    border-style: solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.centrarBloque {
    text-align: center;
    justify-content: center
}
nav a {
    color: #000000;
    text-decoration: none;
}
.legend {
    display: flex;
    justify-content: center;
    align-items: center;
}
.legend2 {
    text-align: center;
    justify-content: center
}
#grilla p {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}
#servicios img {
    text-align: center;
    border: 2px solid #000;
}
#productos {
    grid-area: seccion1;
}
#servicios {
    grid-area: seccion2;
    margin-left: 20px;
    margin-top: 70px;
}
.border {
    border: solid rgb(0, 0, 0) 1px;
}
#grilla {
    display:grid;
    grid-template-areas:
        "seccion1  seccion2"
        "seccion1  seccion2"
        "seccion1  seccion2"
        "seccion1  seccion2";
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.menu {
  list-style: none;
  padding: 0;
  background: #000000;
  width: 100%;
  max-width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
    li {
    display: inline-block;
    text-align: center;
        a {
        text-decoration: none;
        color: #ffffff;
        padding: 20px;
        display: block;
            a:hover {
              background: #81004b; 
              }
        }
    }
}
.nav 
    li 
    a {
    background-color: #000;
    color: #fff;
    display: block;
        a:hover {
        background: #81004b;
                ul {
                display: none;
                position: absolute;
                min-width: 140px;
                }
                    }
}

@import url(../bootstrap/bootstrap.min.css);

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;
    
    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #81004b;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 25px;
}
#galeria img {
    width: 100%;
    height:$imagen*2
}
#galeria img:hover {
    cursor: pointer;
}
.imagenesCatalogo {
    padding: 10px 0px;
    border-radius: 45px 45px 45px 45px;
}
.fija {
    width: 100%;
}
.biografia {
    border: 15px solid rgb(48, 47, 47);
    background-color: rgb(48, 47, 47);
    border-radius: 45px 45px 45px 45px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.imagenHeader {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.descripcionHeader {
    text-align: center;
}
.descripcionHeader p {
    color: #f8d7c8
}
.imagenHeader img {
    border-radius: 30px;
    border:5px solid #f8d7c8;
}
.boxUBI {
    border: 15px solid rgb(48, 47, 47);
    background-color: rgb(48, 47, 47);
    border-radius: 45px 45px 45px 45px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.tituloUBI {
    text-align: center;
    color: #f8d7c8;
    font-size: 50px;
    padding-top: 30px;
    font-style: normal;
    padding-bottom: 30px;
}
.iframeBOX {
    padding-top: 50px;
    padding-bottom: 50px;
}
.mapa {
    border: 5px solid #f8d7c8;
    border-radius: 50px;
}
.horario {
    color: #f8d7c8;
    font-size: 25px;
    line-height: 90px;
    text-align: center;
}
.boxHORA {
    border: 15px solid rgb(48, 47, 47);
    background-color: rgb(48, 47, 47);
    border-radius: 45px 45px 45px 45px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.boxFORM {
    border: 15px solid rgb(48, 47, 47);
    background-color: rgb(48, 47, 47);
    border-radius: 45px 45px 45px 45px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.llenar {
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #f8d7c8;
    outline: none;
    background-color: #cccbcb;
    padding: 1rem 1rem;
    margin-bottom: 25px;
    transition: .5s;
    border-radius: 15px;
}
.llenar:hover {
    background-color: rgb(255, 255, 255);
}
.llenar:focus {
    border: 2px solid #81004b;
}
textarea {
    min-height: 150px;
}
.boton {
    text-align: center;
    background-color: #81004b;
    padding: 1rem 1rem;
    color: #ffffff;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 30px;
}
.boton:hover {
    background-color: green;
}